# --- bKash LIVE Credentials ---
BKASH_LIVE_APP_KEY="your_live_app_key"
BKASH_LIVE_APP_SECRET="your_live_app_secret"
BKASH_LIVE_USERNAME="your_live_username"
BKASH_LIVE_PASSWORD="your_live_password"
BKASH_LIVE_BASE_URL="https://tokenized.pay.bka.sh/v1.2.0-beta/tokenized"

# --- bKash SANDBOX Credentials (Provided) ---
BKASH_SANDBOX_APP_KEY="4f6o0cjiki2rfm34kfdadl1eqq"
BKASH_SANDBOX_APP_SECRET="2is7hdktrekvrbljjh44ll3d9l1dtjo4pasmjvs5vl5qr3fug4b"
BKASH_SANDBOX_USERNAME="sandboxTokenizedUser02"
BKASH_SANDBOX_PASSWORD="sandboxTokenizedUser02@12345"
BKASH_SANDBOX_BASE_URL="https://tokenized.sandbox.bka.sh/v1.2.0-beta/tokenized"

# --- bKash Sandbox Test Configs ---
# Default PIN: 12121
# Default OTP: 123456
# Active Test Wallets (Success Case):
# 01770618575, 01929918378, 01770618576, 01877722345, 01619777282, 01619777283
# Special Case Wallets:
# Insufficient Balance: 01823074817
# Debit Block: 01823074818

# Default Mode: 'sandbox' or 'live'
NEXT_PUBLIC_BKASH_MODE="sandbox"

# App URL (Update for Production)
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
